<h3>choose your desired admissions selectivity:</h3>
<div class="schoolSelectivity">
  <form id="schoolSelectivity">
    <label for="selectivity"></label>
      <select id="selectivity">
        <option value="" disabled selected style="display: none;">how competitive</option>
        <!-- ng-repeat through selectivity values -->
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <br><br><br><br>
    <input class="button-primary" type="submit" value="next">
  </form>
</div>
<div class="tile opacity5">
</div>
