<hr>
<div class="schoolSelectivity">
  <h3>choose your desired admissions selectivity:</h3>
  <form id="schoolSelectivity">
    <label for="selectivity"></label>
      <select ng-model="view.selectivity" id="selectivity">
        <option value="" disabled selected style="display: none;">how competitive</option>
        <!-- <option ng-repeat="choices in view.selectivities | unique: 'choices'"  value="{{choices}}">{{choices}}</option> -->
        <option value="Least Competitive">least competitive</option>
        <option value="Less Competitive">less competitive</option>
        <option value="Competitive"> competitive</option>
        <option value="More Competitive"> more competitive</option>
        <option value="Highly Competitive"> highly competitive</option>
      </select>
      <br><br><br><br>
      <a href="#/location" ng-click="getSelectivity(view.selectivity)"><input class="button-primary" type="submit" value="next"></a>
  </form>
</div>
