<h3>student information:</h3>
<div class="studentDemos">
  <form>
    <div class="row">
      <div class="six columns">
        <label for="firstName"></label>
        <input class="u-full-width" type="email" placeholder="first name" id="firstName">
      </div>
      <div class="six columns">
        <label for="lastName"></label>
        <input class="u-full-width" type="email" placeholder="last name" id="lastName">
      </div>
    </div>
    <label for="dateOfBirth">date of birth:</label>
      <input type="date" name="birthday">
    <br><br>
    <label for="gender"></label>
      <select id="gender" ng-model="gender">
        <option value="" disabled selected style="display: none;">gender</option>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <br><br><br>
      <a href="#/sport"><input class="button-primary" type="submit" value="next"></a>
  </form>
</div>
<div class="tile opacity1">
</div>
