<h3>select your division:</h3>
<div class="studentDivision">
  <form id="studentDivision">
    <label for="division"></label>
      <select id="division">
        <option value="" disabled selected style="display: none;">select your division</option>
        <!-- ng-repeat through divisions that correspond with previously selected gender and sport -->
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <br><br><br><br>
    <input class="button-primary" type="submit" value="next">
  </form>
</div>
<div class="tile opacity3">
</div>
