<hr>
<div class="studentDivision">
  <h3>select your division:</h3>
  <form id="studentDivision">
    <label for="division"></label>
      <select ng-model="view.chosenDivision" id="division" multiple>
        <option value="" disabled selected style="display: none;">select your division</option>
        <option ng-repeat="division in view.divisions | unique: 'division'" value="{{division.id}}">{{division.division}}</option>
      </select>
      <br><br><br><br>
      <a href="#/enrollment" ng-click="getDivision(view.chosenDivision)"><input class="button-primary" type="submit" value="next"></a>
      <a href="#/sport"><input class="button-primary" type="submit" value="back"></a>
  </form>
</div>
