<h3>choose your desired enrollment size:</h3>
<div class="enrollmentSize">
  <form id="enrollmentSize">
    <label for="enrollment"></label>
      <select id="enrollment">
        <option value="" disabled selected style="display: none;">select your preferred school size</option>
        <!-- hard coded different enrollment ranges -->
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <br><br><br><br>
    <input class="button-primary" type="submit" value="next">
  </form>
</div>
<div class="tile opacity4">
</div>
