<h3>choose your desired enrollment size:</h3>
<div class="enrollmentSize">
  <form id="enrollmentSize">
    <label for="lowerEnrollment"></label>
      <select ng-model="view.lowerEnrollment" id="lowerEnrollment">
        <option value="" disabled selected style="display: none;">select your preferred school size</option>
        <!-- hard coded different enrollment ranges -->
        <option value="male">0</option>
        <option value="female">1000</option>
        <option value="female">2500</option>
        <option value="female">5,000</option>
        <option value="female">7,500</option>
        <option value="female">10,000</option>
        <option value="female">12,500</option>
        <option value="female">15,000</option>
        <option value="female">17,500</option>
        <option value="female">20,000</option>
        <option value="female">22,500</option>
      </select>
    <label for="upperEnrollment"></label>
      <select ng-model="view.upperEnrollment" id="upperEnrollment">
        <option value="" disabled selected style="display: none;">select your preferred school size</option>
        <!-- hard coded different enrollment ranges -->
        <option value="male">1000</option>
        <option value="female">2,500</option>
        <option value="female">5,000</option>
        <option value="female">7,500</option>
        <option value="female">10,000</option>
        <option value="female">12,500</option>
        <option value="female">15,000</option>
        <option value="female">17,500</option>
        <option value="female">20,000</option>
        <option value="female">22,500</option>
        <option value="female">25,000</option>
      </select>
      <br><br><br><br>
      <a href="#/admissions"><input class="button-primary" type="submit" value="next"></a>
  </form>
</div>
<div class="tile opacity4">
</div>
