<hr>
<div class="enrollmentSize">
  <h3>choose your desired enrollment size:</h3>
  <br><br>
  <form id="enrollmentSize">
    <label for="lowerEnrollment"></label>
      <select ng-model="view.lowerEnrollment" id="lowerEnrollment">
        <option value="" disabled selected style="display: none;">select your smallest school size</option>
        <option value=0>0</option>
        <option value=1000>1,000</option>
        <option value=2500>2,500</option>
        <option value=5000>5,000</option>
        <option value=7500>7,500</option>
        <option value=10000>10,000</option>
        <option value=12500>12,500</option>
        <option value=15000>15,000</option>
        <option value=17500>17,500</option>
        <option value=20000>20,000</option>
        <option value=22500>22,500</option>
      </select>
    <label for="upperEnrollment"></label>
      <select ng-model="view.upperEnrollment" id="upperEnrollment">
        <option value="" disabled selected style="display: none;">select your largest school size</option>
        <option value=1000>1,000</option>
        <option value=2500>2,500</option>
        <option value=5000>5,000</option>
        <option value=7500>7,500</option>
        <option value=10000>10,000</option>
        <option value=12500>12,500</option>
        <option value=15000>15,000</option>
        <option value=17500>17,500</option>
        <option value=20000>20,000</option>
        <option value=22500>22,500</option>
        <option value=25000>25,000</option>
      </select>
      <br><br><br>

      <p class="alert" ng-show="+view.lowerEnrollment > +view.upperEnrollment">please make sure your smallest school size is less than your largest school size</p>

      <a href="#/admissions" ng-click="getEnrollment(view.lowerEnrollment, view.upperEnrollment)" ng-hide="+view.upperEnrollment < +view.lowerEnrollment"><input class="button-primary" type="submit" value="next"></a>
      <a href="#/division"><input class="button-primary" type="submit" value="back"></a>
  </form>
</div>
