<hr>
<div class="schoolLocation">
  <h3>choose your state(s):</h3>
  <!-- <form id="schoolLocation"> -->
    <div id="chartdiv"></div>

    <br><br>
    <!-- <label for="location"></label> -->
      <!-- <select ng-model = "view.location" id="location"> -->
        <!-- <option value="" disabled selected style="display: none;">location</option> -->
        <!-- <option ng-repeat="location in view.locations" value="{{location}}">{{location}}</option> -->
        <!-- display interactive us map with different geographical regions -->
      <!-- </select> -->


    <!-- <h1 ng-repeat="state in view.selection">{{state}}</h1> -->
      <a href="#/results" ng-hide="view.selection.length===0" ng-click="getLocation(view.selection)" class="resultsButton"><input class="button-primary" type="submit" value="get results"></a>

  <!-- </form> -->
</div>
