<hr>
<div class="signUp">
  <br>
  <h3>sign in:</h3>
  <form class="signInForm">
    <br>
    <div class="row">
      <div class="six columns">
        <label for="exampleEmailInput"></label>
        <input ng-model="view.usersEmail" class="u-full-width" type="email" placeholder="your email address" id="exampleEmailInput">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="six columns">
        <input ng-model="view.userPass1" type="password" name="name" placeholder="enter your password" class="u-full-width">
      </div>
    </div>
      <br><br><br><br>
      <a href="#/studentinfo" ng-click="signin(view.usersEmail, view.userPass1)"><input class="button-primary" type="submit" value="next"></a>
  </form>
</div>
