<h3>sign up:</h3>
<div class="studentDemos">
  <form>
    <div class="row">
      <div class="six columns">
        <label for="firstName"></label>
        <input class="u-full-width" type="email" placeholder="your name" id="firstName">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="six columns">
        <label for="exampleEmailInput"></label>
        <input class="u-full-width" type="email" placeholder="your email address" id="exampleEmailInput">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="six columns">
        <input type="password" name="name" placeholder="create a password" class="u-full-width">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="six columns">
        <input type="password" name="name" placeholder="confirm password" class="u-full-width">
      </div>
    </div>
      <br><br>
      <a href="#/sport"><input class="button-primary" type="submit" value="next"></a>
  </form>
</div>
