<h3>select your sport:</h3>
<div class="studentSport">
  <form id="studentSport">
    <label for="sport"></label>
      <select id="sport">
        <option value="" disabled selected style="display: none;">select your sport</option>
        <!-- ng-repeat through sports that correspond with previously selected gender -->
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <br><br><br><br>
      <a href="#/division"><input class="button-primary" type="submit" value="next"></a>
  </form>
</div>
<div class="tile opacity2">
</div>
