<hr>
<div class="studentSport">
  <h3>select your sport:</h3>
  <form id="studentSport">
    <label for="sport"></label>
      <select ng-model="view.sport" id="sport">
        <option value="" disabled selected style="display: none;">select your sport</option>
        <option ng-repeat = "sport in view.sports" value="{{sport}}">{{sport}}</option>
      </select>
      <br><br><br><br>
      <a href="#/division" ng-click="getSport(view.sport)"><input class="button-primary" type="submit" value="next"></a>
  </form>
</div>
