@font-face {
    font-family: collegefont;
    src: url("../fonts/collegiateHeavyOutlineMedium.ttf");
}
*{
  margin: 0;
  padding: 0;
  color: white;
}
.ng-scope{
  margin: 0;
  padding: 0;
  height: 100%;
}
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background{
  background-image: url("../images/rotatedTurf.jpg");
  min-height: 100vh;
}
.initial{
  height: 100vh;
}
.signIn{
  float: right;
  margin-right: 3%;
  color: white;
}
.title{
  color: white;
  font-family: "collegefont";
  font-size: 9em;
  width: 100%;
  margin-left: 5%;
  text-align: center;
  line-height: 2.75em;
}
button{
  background: white;
  opacity: 0.90;
  margin-left: 43%;
  margin-top: 6%;
}
.tile{
  background: black;
  height: 100vh;
  width: 100vw;
}
form{
  width: 85%;
  height: 40vh;
  color: #a9a9a9;
  margin-left: 5%;
  margin-top: 10%;
}
.studentDemos, .studentSport, .studentDivision, .enrollmentSize, .schoolSelectivity, .schoolLocation, .studentResults{
  margin-left: 12%;
  margin-top: 10%;
  padding: 1%;
  background: gainsboro;
  width: 75%;
  border-radius: 5%;
}
.opacity1{
  opacity: 0.10;
}
#sport, #division, #enrollment, #selectivity, #location, #results{
  margin-top: 10%;
}
.opacity2{
  opacity: 0.20;
}
.opacity3{
  opacity: 0.30;
}
.opacity4{
  opacity: 0.40;
}
.opacity5{
  opacity: 0.50;
}
.opacity6{
  opacity: 0.60;
}
.opacity7{
  opacity: 0.70;
}
table, th, td, .landingButton{
  background: white;
  color: #a9a9a9;
}
