@font-face {
    font-family: collegefont;
    src: url("../fonts/collegiateHeavyOutlineMedium.ttf");
}
*{
  margin: 0;
  padding: 0;
  color: white;
}
.ng-scope{
  margin: 0;
  padding: 0;
  height: 100%;
}
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background{
  background-image: url("../images/rotatedTurf.jpg");
  min-height: 100vh;
}
.initial{
  height: 100vh;
}
.signIn{
  float: right;
  margin-right: 3%;
  color: white;
}
.title{
  color: white;
  font-family: "collegefont";
  font-size: 9em;
  width: 100%;
  margin-left: 5%;
  text-align: center;
  line-height: 2.75em;
}
.signUpForm{
  margin-top: 0%;
}
button{
  background: white;
  opacity: 0.90;
  margin-left: 43%;
  margin-top: 6%;
}
.tile{
  background: black;
  height: 100vh;
  width: 100vw;
}
form{
  width: 85%;
  height: 40vh;
  color: #a9a9a9;
  margin-left: 5%;
  margin-top: 10%;
}
input{
  color: #a9a9a9;
}
.studentDemos, .studentSport, .studentDivision, .enrollmentSize, .schoolSelectivity, .schoolLocation, .studentResults, .signUp{
  margin-left: 10%;
  margin-top: 6%;
  padding: 1%;
  background: #a9a9a9;
  width: 75%;
  border-radius: 5%;
  padding: 2%;
}
.enrollmentSize{
  height: 60vh;
}
.holdTheThings{
  margin: 0px auto;
  width: 95%;
  height: 75vh;
  overflow-y: scroll;
  margin-top: -2%;
}
table{
  font-size: 1.25em;
  border-radius: 12%;
}
td{
  height: 4.5em;
  margin-left: 5%;
}
.opacity1{
  opacity: 0.10;
  z-index: -999;
}
#sport, #division, #enrollment, #selectivity, #location, #results{
  margin-top: 10%;
}
.opacity2{
  opacity: 0.20;
  z-index: -999;
}
.opacity3{
  opacity: 0.30;
  z-index: -999;
}
.opacity4{
  opacity: 0.40;
  z-index: -999;
}
.opacity5{
  opacity: 0.50;
  z-index: -999;
}
.opacity6{
  opacity: 0.60;
  z-index: -999;
}
.opacity7{
  opacity: 0.70;
  z-index: -999;
}
.alert{
  color: #E65933;
  font-size: 1.25em;
  width: 100%;
  text-align: center;
}
table, th, td, .landingButton{
  background: white;
  color: #a9a9a9;
}
table{
  margin-top: 3%;
}
tbody{
  font-size: .75em;
}
.resultsButton{
  margin-left: 2%;
  /*margin-top: -10%;*/
  /*margin-bottom: 2%;*/
}
#chartdiv {
  width: 100%;
  height: 500px;
  margin-top: 2%;
}
hr{
  margin-top: -5%;
}
.aboutAnna{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: contain;
  background-image: url("../images/about_me_slide.png");
}
